.navigation-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    background-color: #232f3e;
    color: white;
}

.navigation-bar ul {
    list-style: none;
    display: flex;
}

.navigation-bar li {
    margin: 0 10px;
}

.navigation-bar a {
    color: white;
    text-decoration: none;
}

.navigation-bar .search-bar {
    margin-left: 0%;
}